body{
  font-family: "Inter", sans-serif;
  color: #2D3436;
}

.container{
  max-width: 1180px;
  width: 95%;
}

header{
  position: fixed;
  -webkit-box-shadow: 0px 4px 8px 0px #26323814, 0px 2px 4px 0px #26323829;
          box-shadow: 0px 4px 8px 0px #26323814, 0px 2px 4px 0px #26323829;
  width: 100%;
  background: #fff;
  z-index: 99;
}
nav.nav{
  height: 96px;
}
nav.nav ul li a{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #6C5CE7;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
nav.nav ul li a:hover, nav.nav ul li a.active{
  font-weight: 700;
  color: #2D3436;
}
section.hero-section{
  position: relative;
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  padding-top: 200px;
}
section.hero-section::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 280px;
  background-image: url(../images/Dots1.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 115px;
  z-index: -1;
}
.theme-padding{
  padding: 70px 0;
}
.btn-theme{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #FFFFFF;
  background-color: #6C5CE7;
  text-shadow: 0px 4px 8px #26323814;
  -webkit-box-shadow: 0px 2px 4px 0px #26323829;
          box-shadow: 0px 2px 4px 0px #26323829;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.btn-theme:hover{
  color: #FFFFFF;
  background-color: #5547bb;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FDCB6E;
}
.top-heading h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 104px;
  letter-spacing: -3px;
  text-align: center;
  color: #2D3436;
  text-shadow: 0px 4px 0px #FFFFFF;
}
.top-heading h1 span{
  color: #D63031;
  position: relative;
  display: inline-block;
  padding-right: 5px;
}
.top-heading h1 span::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  border-radius: 999px;
  z-index: -1;
  background-color: #55EFC4;
}
.top-heading h2{
  font-size: 64px;
  font-weight: 900;
  line-height: 77.45px;
  letter-spacing: -1px;
  text-align: center;
  color: #2D3436;
}
.grid__container {
  max-width: 1156px;
  width: 1156px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: repeat(20, 20px);
  -ms-grid-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 30px 20px 10px 20px 44px 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 30px 10px 44px 20px 20px;
}

.grid__item {
  border-radius: 20px;
}

.one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.two {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  background-image: url(../images/Image-2.png);
  background-position: center;
  background-size: cover;
}

.three {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.four {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 12;
  grid-row: 4 / 16;
  background-color: #FDF5DD;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 10px;
  background-image: url(../images/Image-4.png);
  background-position: center;
  background-size: cover;
}


.five {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
  -ms-grid-row: 5;
  -ms-grid-row-span: 6;
  grid-row: 5 / 11;
  background-image: url(../images/Image-5.png);
  background-position: center;
  background-size: cover;
}

.six {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 5;
  -ms-grid-row-span: 6;
  grid-row: 5 / 11;
  background-image: url(../images/Image-6.png);
  background-position: center;
  background-size: cover;
}

.seven {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  grid-column: 4 / 7;
  -ms-grid-row: 11;
  -ms-grid-row-span: 7;
  grid-row: 11 / 18;
  background-image: url(../images/Image-7.png);
  background-position: center;
  background-size: cover;
}

.eight {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  -ms-grid-row: 11;
  -ms-grid-row-span: 9;
  grid-row: 11 / 20;
  background-image: url(../images/Image-8.png);
  background-position: center;
  background-size: cover;
}

.nine {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 11;
  -ms-grid-row-span: 6;
  grid-row: 11 / 17;
  background-image: url(../images/Image-9.png);
  background-position: center;
  background-size: cover;
}

.ten {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 16;
  -ms-grid-row-span: 2;
  grid-row: 16 / 18;
}

.grid__item p{
  font-size: 19px;
  line-height: 32px;
}

.grid__item h2{
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 0px #000000;

}

.heading2{
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  font-weight: 700;
}

.descriptions-lg{
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: left;

}

.icon-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.heading3{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.25px;
  text-align: left;
}

.descriptions-sm{
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.card-btn{
  font-size: 16px;
  padding: 4px 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #6C5CE7;
  border: 1px solid #6C5CE7;
}

.heading6{
  font-size: 12px;
  font-weight: 800;
  line-height: 14.52px;
  letter-spacing: 2.5px;
  text-align: left;
  color: #ADADAD;
  text-transform: uppercase;
}

.icon-wrapper img {
  width: 100%;
  padding: 5px 0px 0px 2px;
}

footer .icon{
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

footer .icon:hover{
  background-color: #FFEAA7;
}
.top {
  height: 100px;
}
.footer-link{
  color: #2D3436;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
}
.input-mark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 38px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
}
.form-control::-webkit-input-placeholder{
  color: #2D3436;
  font-weight: 400;
}
.form-control::-moz-placeholder{
  color: #2D3436;
  font-weight: 400;
}
.form-control:-ms-input-placeholder{
  color: #2D3436;
  font-weight: 400;
}
.form-control::-ms-input-placeholder{
  color: #2D3436;
  font-weight: 400;
}
.form-control::placeholder{
  color: #2D3436;
  font-weight: 400;
}
.form-control{
  color: #5547bb;
  font-weight: 600;
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}
.form-control:focus {
  color: #5547bb;
  font-weight: 600;
  border-color: #5547bb;
  background-color: #F0F0F0;
  outline: 0;
  -webkit-box-shadow: 0 0 0 .15rem #5547bb73;
          box-shadow: 0 0 0 .15rem #5547bb73;
}
footer{
  background-image: url(../images/Wave.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  .logo{
    max-width: 180px !important;
    width: 100% !important;
  }
  .grid__container {
    zoom: 0.8;
  }
  .top-heading h1 {
    font-size: 70px;
    line-height: 86px;
  }
  .top-heading h1 span::before {
    height: 40px;
  }
  .top-heading h2 {
    font-size: 52px;
    line-height: 54px;
  }
  section.hero-section {
    padding-top: 150px;
  }
  .theme-padding {
    padding: 50px 0;
  }
  .heading3 {
    font-size: 22px;
    line-height: 36px;
  }
}
@media screen and (max-width: 991px) {
  .large-menu{
    position: fixed;
    width: 50%;
    height: calc(100vh - 96px);
    bottom: 0;
    left: -100%;
    background: #fff;
    -webkit-box-shadow: inset 1px 5px 0px 0px #DDD;
            box-shadow: inset 1px 5px 0px 0px #DDD;
    -webkit-box-shadow: inset 0px 4px 8px 0px #26323814, inset 0px 2px 4px 0px #26323829, 0px 0px 0px 0px #26323829;
            box-shadow: inset 0px 4px 8px 0px #26323814, inset 0px 2px 4px 0px #26323829, 0px 0px 0px 0px #26323829;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
  }

  nav.nav ul li a {
    font-size: 24px;
    line-height: 38px;
  }
  .grid__container {
    zoom: 0.7;
  }
  .large-menu.extend{
    left: 0;
  }
}

@media screen and (max-width: 890px) {
  .grid__container {
    zoom: 0.6;
  }
}
@media screen and (max-width: 768px) {
  .top-heading h1 {
    font-size: 52px;
    line-height: 66px;
  }
  .top-heading h2 {
    font-size: 38px;
    line-height: 40px;
  }
  .top-heading h1 span::before {
    height: 30px;
  }
  nav.nav {
    height: 70px;
  }
  section.hero-section {
    background-position: 0 70px;
    padding-top: 120px;
  } 
  section.hero-section::after {
    width: 100px;
    height: 140px;
    top: 75px;
  }   
  .btn-theme {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
  }
  .large-menu{
    height: calc(100vh - 70px);
    width: 70%;
  }
  .logo {
    max-width: 130px !important;
  }
  nav.nav ul li a {
    font-size: 24px;
    line-height: 38px;
  }
  .grid__container {
    position: absolute;
    zoom: 0.5;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hero{
    position: relative;
    height: 385px;
  }
  .hero-section{
    overflow: hidden;
  }
  .descriptions-lg {
    font-size: 18px;
    line-height: 28px;
  }
  .descriptions-lg br {
    display: none;
  }
  .icon-wrapper {
    border-radius: 8px;
  }
  .descriptions-sm {
    font-size: 16px;
    line-height: 24px;
    max-width: 260px;
  }
  .form-group.position-relative.w-100 {
    max-height: 45px !important;
    min-height: 45px !important;
  }
}
@media screen and (max-width: 590px) {
  .heading2 {
    font-size: 24px;
    line-height: 28px;
  }
  .top-heading h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .top-heading h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .top-heading h1 span::before {
    height: 20px;
  }
  .descriptions-lg {
    font-size: 16px;
    line-height: 26px;
  }
  .heading2 {
    font-size: 26px;
    line-height: 36px;
  }
  footer .heading2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
  }
  .heading3 {
    font-size: 18px;
    line-height: 22px;
  }
  .top {
    height: 80px;
  }
  .theme-padding {
    padding: 30px 0;
  }
  .footer-link {
    font-size: 11px;
    line-height: 18px;
  }
  .logo {
    max-width: 100px !important;
  }
  .btn-theme{
    max-width: 140px !important;
  }
  .large-menu{
    width: 80%;
  }
  .card-btn {
    font-size: 14px;
    line-height: 30px;
  }
}
@media screen and (max-width: 420px) {
  .heading2 {
    font-size: 22px;
    line-height: 26px;
  }
  .top-heading h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .top-heading h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .icon-wrapper {
    width: 50px;
    height: 50px;
  }
  .grid__container {
    zoom: 0.4;
  }
  .hero {
    height: 250px;
  }
}